@import '../../colors.scss';
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

main {
  span {
    font-family: "Indie Flower", cursive;
  }
  color: $fifth;
  .heroInfo{
    text-shadow: 0.5px 0.5px 0.5px white;;
    text-shadow: 2px 2px 2px $first;
  }
}
