@import "../../colors.scss";

section {
  // background: radial-gradient(circle, rgba(255,255,255,1) 25%, $first 100%);
  // text-shadow: 2px 2px 2px $fifth;
  p {
    color: $fifth;
  }
  h2{
    color: $fifth;
  }
}
.btn {
  background-color: $first;
  border-color: $third;
  color: $fifth;
  &:hover {
    background-color: $fifth;
    border-color: $fifth;
  }
  span {
    transition: 0.5s ease-out;
  }
  &:hover span:nth-child(2) {
    margin-left: 30px;
  }
  &:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #000;
  }
}