@import "./colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Poppins&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 75%, $first 100%);
  max-width: 100% !important;
  overflow-x: hidden !important;
}

h2{
  font-family: "Indie Flower", cursive;
}

h1,
h2,
.cardTitle,
.sliderTitle {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 7px;
  cursor: pointer;
  span {
    transition: 0.5s ease-out;
  }
  &:hover span:nth-child(2) {
    margin-left: 30px;
  }
  &:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #000;
  }
}

// .spacer{
//   aspect-ratio: 960/300;
//   width: 100%;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }

// .layer1{
//   background-image: url('/public/svg/layered-waves-haikei.svg');
// }
