@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}
html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

body{
  color: #89817c;
}


.navBar{
  background: linear-gradient(90deg, rgba(204,178,162,1) 0%, rgba(170,145,127,1) 50%);
}

.hero{
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(169,194,190,1) 50%);;
}

.products{
background: linear-gradient(90deg, rgba(169,194,190,1) 0%, rgba(204,178,162,1) 50%);
}

.carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.carousel-item img {
  height: 500px;
}

.carousel-caption p, h2 {
  color: transparent;
  background: linear-gradient(351deg, #EEEEEE 0%, #393E46 50%);
  text-shadow: 2px 2px #EEEEEE;
  -webkit-background-clip: text;
}

/* colors {
  #A9C2BE CELESTE
  #CCB2A2 TIERRITA
  #AA917F TIERRITA MA SOSCURA
  #89817C GRIS
  #786A59 MARRON/VERDE
} */

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
